* {
  font-family: 'Open Sans', sans-serif;
}

html {
  behavior: 'smooth';
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: aliceblue;
}

::-webkit-scrollbar-thumb {
  background-color: #8fe2fb;
  border-radius: 8px;
}

.background {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}